.Components-settings {
    display: flex;
    height: 100%;
    width: 100%;
    .menu {
      border-top: var(--general-border);
    }
    .current-setting {
      --bg-padding: .625rem;
      height: calc(100% - var(--bg-padding) * 2);
      width: calc(100% - var(--bg-padding) * 2);
      background-color: #f1f0f5;
      padding: var(--bg-padding);
      border-radius: 5px;
    }
}
