.Component-Layout {
  height: 100vh;
  width: 100vw;
  .section-of-body {
    height: 100%;
    width: 100%;
    // display: grid;
    // grid-template-columns: var(--aside-width) calc(100% - var(--aside-width));
    // .side-bar {
    //   height: auto;
    //   display: flex;
    //   align-items: center;
    //   // 改变文字方向
    //   // writing-mode: vertical-rl;
    //   margin-left: 4px;
    // }
    .side-body {
      width: 100%;
      display: grid;
      grid-template-rows:
        var(--layout-header-height) var(--searchbox-height) calc(
          100vh - var(--layout-header-height) - var(--searchbox-height) -
            var(--layout-footer-height)
        )
        var(--layout-footer-height);
      .time {
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: end;
      }
      @keyframes displayNone {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
          display: none;
        }
      }
      @keyframes displayShow {
        0% {
          opacity: 0;
          display: block;
        }
        100% {
          opacity: 1;
        }
      }
      .main-none {
        animation: displayNone var(--layout-animation-time) ease-out forwards;
      }
      .main-show {
        animation: displayShow var(--layout-animation-time) ease-in forwards;
      }
      .footer {
        color: 1rem;
        color: #f2f2f2;
        display: flex;
        align-items: center;
        justify-content: center;
        .one-language {
          margin: 0 10px;
          font-size: 16px;
          cursor: pointer;
          &:hover {
            color: #fff;
            span:last-child {
              opacity: 1;
            }
          }

          display: flex;
          flex-direction: column;
          align-items: center;

          span {
            &:last-child {
              opacity: 0;
              transition: all 0.3s;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
