.Components-SideBar {
  // height: 100%;
  width: 100%;
  background-color: rgba(
    var(--sideBar-background-color),
    var(--sideBar-background-colorOpacity)
  );
  border-radius: 8px;
  // overflow: hidden;
  padding: 1rem 0;
  .side-bar-item {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-bottom: 8px;
    cursor: pointer;
  }
  .side-bar-item-selected {
    background-color: rgba(
      var(--sideBar-background-color),
      var(--sideBar-background-colorOpacity)
    );
  }
}
