.bookmarks-content-container[bookmarks-container] {
  height: 60vh;
  overflow-y: scroll;
  padding: 5px;
}

.bookmarks-modal {
  .ant-modal {
    backdrop-filter: blur(6px);
  }
  .ant-modal-content {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
    // backdrop-filter: blur(6px);
    padding: 6px;
    transition: none;
  }
}
